<!DOCTYPE html>
<html>
    <head>
        <title>Health & Beauty</title>
    </head>
    <link rel="stylesheet" a href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></a>
    <body>
        <h1>Beauty</h1>

        <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <img src="powder.png" class="card-img-top" alt="Product 1" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">Huda Beauty Powder</h5>
                            <p class="card-text">If you do not want your makeup to move purchase this!</p>
                            <p class="card-text text-danger">£34.00</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="skinfoundation.png" class="card-img-top" alt="Product 1" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">CHARLOTTE'S BEAUTIFUL SKIN FOUNDATION</h5>
                            <p class="card-text">Buy this foundation to achieve a flawless base!</p>
                            <p class="card-text text-danger">£39.00</p>
                        </div>
                    </div>
              
                     <div class="col">
                            <img src="lipoil.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                            <div class="card-body">
                                <h5 class="card-title">Elf Lip oil</h5>
                                <p class="card-text">An ultra-glossy tinted lip oil that nourishes, hydrates, and enhances your lips’ natural colour.</p>
                                <p class="card-text text-danger">£8.50</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="eyeshadow.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                          <h5 class="card-title">MORPHE X JAMES CHARLES ARTISTRY PALETTE - LIMITED EDITION</h5>
                          <p class="card-text">Brimming with sumptuous shades that can be used on-the-go, this palette encourages make up experimentation at its finest</p>
                          <p class="card-text text-danger">£26.00</p>
                        </div>
                    </div>
                    <div class="col">
                        <img src="highlighter.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                          <h5 class="card-title">ACCENT LIGHT HIGHLIGHTER - GO FOR GOLD</h5>
                          <p class="card-text">This super creamy highlighter gives you light with every swipe, so you’ll be glowing from any angle. </p>
                          <p class="card-text text-danger">£30.00</p>
                        </div>
                    </div>
              
                    <div class="col">
                        <img src="spray.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">CHARLOTTE TILBURY- AIRBRUSH FLAWLESS SETTING SPRAY</h5>
                            <p class="card-text">A setting spray that extends the wear of makeup; Creating a weightless veil, this setting spray contributes to smoother, better-hydrated skin last up to 16 hours!</p>
                            <p class="card-text text-danger">£28.00</p>
                        </div>
                    </div>
              </div>
                <div class="row">
                    <div class="col">
                        <img src="elf.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">Power Grip Primer</h5>
                            <p class="card-text">A gel-based, hydrating face primer that grips your makeup and smoothes your skin.</p>
                            <p class="card-text text-danger">£10.00</p>
                        </div>
                    </div>
               
                    <div class="col">
                        <img src="mascara.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">HELLA THICC THICC VOLUMIZING MASCARA DUO</h5>
                            <p class="card-text">Keep one for yourself and gift the other to a friend for big lashes.!</p>
                            <p class="card-text text-danger">£21.00</p>
                        </div>
                    </div>
        
                    <div class="col">
                        <img src="fenty.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">GLOSS BOMB TRIO</h5>
                            <p class="card-text">The ultimate gotta-have-it gloss with intense shine that feels as good as it looks in 3 irresistible formulas.!</p>
                            <p class="card-text text-danger">£34.00</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <img src="lipstick.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">NUDE MATTE LIPSTICK QUAD</h5>
                            <p class="card-text">The lipsticks have a comfortable wearing, extremely long-lasting and smudge proof finish for all day wear.</p>
                            <p class="card-text text-danger">£15.00 50% off</p>
                        </div>
                    </div>
             
               
                    <div class="col">
                        <img src="brushes.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">18 PIECE EYE & FACE BRUSH SET</h5>
                            <p class="card-text">This essential set enables you to buff and blend your way to a flawless finish every time.</p>
                            <p class="card-text text-danger">£30.00 60% off</p>
                        </div>
                    </div>
            
                    <div class="col">
                        <img src="glowscreen.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">Glow Screen</h5>
                            <p class="card-text">Get your glow on every day with the Supergoop! Glowscreen SPF30 in Sunrise!</p>
                            <p class="card-text text-danger">£34.00</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="snail.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                          <h5 class="card-title">Advaced Snail Duo!</h5>
                          <p class="card-text">Enriched with snail secretion filtrate, a wonder K-Beauty ingredient known for its multiple skin benefits, you are guaranteed to have your best skin yet!!</p>
                          <p class="card-text text-danger">£44.00</p>
                        </div>
                    </div>

                    <div class="col">
                        <img src="skincare.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">Cerave Hydration Box</h5>
                            <p class="card-text">Discover the limited edition Hydration Box for only £31!</p>
                            <p class="card-text text-danger">£31.00</p>
                        </div>
                    </div>
               

                    <div class="col">
                        <img src="theordinary.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">The Ordinary The No-Brainer set</h5>
                            <p class="card-text">This set is the one-stop shop for your key skincare concerns. Skin will be left feeling hydrated, brightened and plumped. </p>
                            <p class="card-text text-danger">£19.10</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="cleanser.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">CICAPAIR FOAMING CLEANSER</h5>
                            <p class="card-text">Designed to calm and soothe the complexion, the Dr. Jart+ Cicapair Tiger Grass Enzyme Cleansing Foam is the latest must-have for your routine.</p>
                            <p class="card-text text-danger">£19.00</p>
                        </div>
                    </div>

                    <div class="col">
                        <img src="florence.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                        <div class="card-body">
                            <h5 class="card-title">Florence By Mills- Just For You: You're The Best.</h5>
                            <p class="card-text">Inside this set you’ll find six skincare and makeup must-haves and accessories. Haul now, thank us later.</p>
                            <p class="card-text text-danger">£62.00</p>
                        </div>
                    </div>
                </div>

            
        <h1>Essential supplements</h1>
            <div class="row">
                <div class="col">
                    <img src="VitaminCpng.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                    <div class="card-body">
                        <h5 class="card-title">Vitamin C 1000mg 120 Tablets.</h5>
                        <p class="card-text">By Holland & Barret</p>
                        <p class="card-text text-danger">£12.49</p>
                    </div>
                </div>
           
                <div class="col">
                    <img src="BlackSeedVit.png" class="card-img-top" alt="Product 1" width="200px"height="400px">
                    <div class="card-body">
                        <h5 class="card-title">Black Seed Oil.</h5>
                        <p class="card-text">By Holland & Barret</p>
                        <p class="card-text text-danger">£15.29</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
